
/*-------------------------------------------------------------------
1. Variables
--------------------------------------------------------------------*/

/********** Colors **********/
$red_text_color     		: #f1442b;
$bg_light           		: #fcfcfa;
$header_color				: #faf9f7;
$bg_gray					: #e2e1dd;

/********** Borders **********/
$light_border       		: 1px solid #e5e5e1;


/********** Images **********/
$spoon-img					: image-url('Spoon.png');
$buttons-img				: image-url('main_buttons.png');
$panel-img					: image-url('panel.png');
$common-btn					: image-url('1px.png');
$common-hover-btn			: image-url('1px-hover.png');
