<header class="navbar navbar-fixed-top" style="border-bottom: 3px solid #f1442b;box-shadow: 2px 2px 2px #888888;background-color:white;">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
</header>